// * {outline: 1px solid red;}

body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #4A3830;
}

a {
    text-decoration: none;
    color: inherit;
}