.cart-tag {
  width: 16px;
  height: 16px;
  line-height: calc(16/12);
}

.navbar-lg-search {
  width: 400px;
}

.user-pic {
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}